.blog-item-bg-container {
  list-style-type: none;
  border-bottom: 1px solid #9aa5b1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 100%;
}

.blog-item-title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.blog-item-title {
  color: #12022f;
  font-size: 16px;
  font-weight: 700;
}
.blog-item-published-date {
  color: #9aa5b1;
  font-size: 12px;
}
.blog-item-description {
  color: #616e7c;
  font-size: 14px;
  font-weight: 600;
}
