.reg-status-bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
  align-self: center;
  text-align: center;
}
.no-active-event {
  align-self: flex-start;
}
.reg-status-bg-container > * {
  padding: 3px;
  margin: 3px;
}
.reg-closed-heading {
  color: #323f4b;
  font-size: 18px;
}
.reg-status-img {
  width: 95%;
}
.reg-status-description {
  color: #64748b;
  font-weight: 300;
  font-size: 18px;
}
.reg-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  height: 40px;
  color: #fff;
  font-size: 14px;
  outline: none;
  background-color: #0967d2;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.reg-button:hover {
  outline: none;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
}
