.welcome-app-bg-container {
  background-color: #1e293b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Bree Serif;
  height: 100vh;
}
.welcome-app-heading {
  color: #f0bb03;
  font-family: Bree Serif;
}
p {
  color: #ffffff;
  font-size: 18px;
  font-weight: 300;
}
.button {
  border-width: 0px;
  width: 100px;
  height: 35px;
  border-radius: 10px;
  background-color: #ffffff;
  color: #1e293b;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}
