.home-bg-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  background-size: cover;
  min-height: 100vh;
  font-style: Bree Serif;
}
.not-found-text-container {
  margin-top: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  min-height: 30vh;
}
