.crypto-currency-tracker-bg-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  background-color: #000000;
  color: #00e7ff;
  font-family: Roboto;
  min-height: 100vh;
}
h1 {
  font-size: 28px;
  font-weight: 400;
}
.heading-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  background-position: center;
  background-size: cover;
  width: 100%;
}
.cryptocurrency {
  width: 50%;
}
.crypto-currency-list-item-bg-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
