.todo-list-outer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffc2a0;
  min-height: 100vh;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 3vh;
  padding-bottom: 3vh;
}
.todos-list-bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 8px;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 3vh;
  padding-bottom: 3vh;
}
.todos-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.todos-main-heading {
  color: #ff8542;
  font-size: 28px;
  font-weight: 700;
}
