.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-img {
  width: 20vw;
  height: 35vh;
}
.home-heading {
  color: #6d396b;
  font-weight: 600;
  font-size: 28px;
}
