.movie-item-bg-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.thumbnail-image {
  width: 80%;
  cursor: pointer;
}
.thumbnail-image:hover {
  width: 88%;
  border: 1.5px solid #dfdfdf;
  border-radius: 8px;
  align-self: center;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
}

.modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #fff;
  padding: 1%;
  border-radius: 16px;
}
.popup-content {
  background-color: #ffffff;
  width: 750px;
  height: 420px;
  border-radius: 16px;
}

.close-button {
  align-self: flex-end;
  margin-right: 4px;
  outline: none;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
