.destination-item-bg-conatiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  list-style: none;
  font-family: Roboto;
  flex-wrap: wrap;
}
.destination-item-image {
  width: 100%;
}
.destination-item-name {
  font-weight: 700;
  font-size: 16px;
}
